.App{
  margin: auto;
  text-align: center;
  margin-top: 5rem;
}

.input-date{
  display: flex;
  flex-direction: column;
  
}
input{
  width: 25vw;
  margin: auto;
  padding-left: 0.5rem;
  /* text-align: center; */
  margin-bottom: 1rem;
}
button{
  width: 7rem;
  margin: auto;
  text-align: center;
}